.navbar {
  text-transform: uppercase;
}
.navbar__container {
  margin: 0 2em;
}

.nav-link {
  color: white !important;
}
.nav-link :hover {
  font-weight: bold;
}

.desktop {
  display: none !important;
}
@media (min-width: 992px) {
  .desktop {
    display: flex !important;
  }
}

.mobile {
  display: flex !important;
}
@media (min-width: 992px) {
  .mobile {
    display: none !important;
  }
}

.light-btn {
  padding: 1em 2em;
  border-radius: 12px;
  background-color: #E2A064;
  font-weight: bold;
  transition: all 0.6s;
  text-transform: uppercase;
}
.light-btn :hover {
  background-color: #a27448;
  color: red;
}

.dark-btn {
  background-color: #201C1B;
  font-weight: bold;
  transition: all 0.6s;
}
.dark-btn :hover {
  background-color: #000000;
}

.heroImg {
  background-image: url("../assets/neil-fedorowycz-hHCDldR1ZcQ-unsplash.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.heroImg-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.heroImg__heading {
  color: #E2A064;
}
.heroImg__content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.heroImg__content-text {
  z-index: 10;
  color: white;
}

.footer {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #E2A064 0%, #f9d423 100%);
  line-height: 1.6;
  font-family: "Nunito Sans", sans-serif;
}

.section {
  padding: 2em 1em;
  color: black;
  text-align: center;
  margin: 2em 0;
}

.heading {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.header__text {
  text-align: center;
}
.header__photos {
  margin: 2em 0;
}
.header__photos-box {
  width: 80px;
  height: 80px;
  margin: 1em;
}
@media (min-width: 576px) {
  .header__photos-box {
    width: 120px;
    height: 120px;
  }
}
.header__photos-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 15px black;
}
.header__photos__btns {
  display: flex;
  justify-content: space-evenly;
}
.header__photos__btns a {
  margin: 0 2em;
}

.puppy {
  text-align: center;
  color: black;
}
.puppy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .puppy-container {
    flex-direction: row;
  }
}
.puppy__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201C1B;
  color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 12px;
  width: 90%;
  height: 300px;
}
.puppy__box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}
.puppy__box-text-heading {
  color: #E2A064;
}
.puppy__box-img {
  height: 100%;
  width: 50%;
  max-width: 300px;
  overflow: hidden;
}
.puppy__box-img img {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.community__container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .community__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.community__box {
  padding: 1em;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201C1B;
  color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 12px;
  width: 90%;
}
@media (min-width: 768px) {
  .community__box {
    height: 700px;
    justify-content: space-evenly;
    width: 45%;
  }
}
@media (min-width: 992px) {
  .community__box {
    width: 30%;
  }
}
.community__box-img {
  width: 100%;
  height: 40%;
  margin-bottom: 1em;
}
.community__box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.community__box h3 {
  color: #E2A064;
}
.community__user-card {
  margin: 1em;
  padding: 1em;
}
.community__user-card img {
  width: 50px;
  margin-bottom: 1em;
}

.animal__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 12px;
  width: 90%;
  height: 300px;
}/*# sourceMappingURL=style.css.map */