$bgc-light: #E2A064;
$bgc-dark : #201C1B;

$font-light:white;
$font-dark:black;

$heading-light:#E2A064;
$heading-dark:#201C1B;

$btn-light:#E2A064;
$btn-light-hover:#a27448;
$btn-dark:#201C1B;
$btn-dark-hover:#000000;